# Next.js equivalent of your Expo variables
# NEXT_PUBLIC_API_BASE_URL="http://localhost:8006/Api_Url"
# NEXT_PUBLIC_ASSETS_URL="http://localhost:8006"

# Example if your IP is 192.168.1.15
# NEXT_PUBLIC_API_BASE_URL="http://192.168.0.4:8006/Api_Url"
# NEXT_PUBLIC_ASSETS_URL="http://192.168.0.4:8006"
# NEXT_PUBLIC_API_BASE_URL="https://vellomij-fintech-banking-backend-api.onrender.com/Api_Url"
# NEXT_PUBLIC_ASSETS_URL="https://vellomij-fintech-banking-backend-api.onrender.com"

# 8006 is the port where your backend server is running

